@model Churnify.Web.App.ViewModels.Comments.CustomerCommentViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-0">Comments</h5>
            </div>
            <table id="comments_table" class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Type</th>
                        <th scope="col">Rating</th>
                        <th scope="col">DateTime</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Comments.Count > 0)
                    {
                        foreach (var item in Model.Comments)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.UserId</td>
                                <td>@item.Content</td>
                                <td>@item.CommentType.Name</td>
                                <td>@item.Rating</td>
                                <td>@item.CreateDate.ToString("dd/MM/yyyy HH:mm")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="border-top">
                <div class="card-body">
                    <form method="post" action="/Comment/create">
                        <input type="hidden" value="dave.dave" id="UserId" name="userId" />
                        <input type="hidden" value="@Model.Customer.Id" id="CustomerId" name="CustomerId" />
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Comment type</label>
                                <select id="CommentTypeId" required="required" name="CommentTypeId" class="select2 form-control custom-select" asp-items="Model.CommentTypesList">
                                    <option value="">Type</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <label>Rating</label>
                                <input type="number" class="form-control" min="1" value="5" max="10" id="Rating" name="rating" />
                            </div>
                            <div class="col-sm-8">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <textarea id="Content" name="Content" style="height: 300px;">
                        </textarea>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" disabled id="btn_Submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    $(document).ready(function () {
        $('#Content').summernote();
        $('#Content').on('summernote.change', function () {
            $('#btn_Submit').prop('disabled', $('#Content').val().length == 0);
        });
    });
   
</script>